<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模版页面</title>
    <link rel="stylesheet" href="../Themes/Plugs/Bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../Themes/Plugs/FontAwesome/css/font-awesome.css">
    <link rel="stylesheet" href="../Themes/Plugs/Swiper/css/swiper.css">
    <link rel="stylesheet" href="../Themes/CSS/Base.css">
</head>

<body>

    <div class="wrapper">
        <!-- header -->
        <div class="header">

        </div>

        <!-- main -->
        <div class="main">
            <ul>
                <li class="desc1"></li>
                <li class="desc2"></li>
                <li class="desc3desc2"></li>
                <li class="desc1 desc2"></li>
            </ul>
        </div>

        <!-- footer -->
        <div class="footer">
            
        </div>
    </div>

    <!-- JS -->
    <script src="../Themes/JS/JQuery/jquery.min1.9.1.js"></script>
    <script src="../Themes/Plugs/Bootstrap/js/bootstrap.js"></script>
    <script src="../Themes/Plugs/Swiper/js/swiper.js"></script>
    <script>
        /* 
            重复引用子组
        */
        window.onload = function () {
            var str = "abca";
            var re = /(a)(b)(c)a/;
            var re1 = /(a)(b)(c)\1/;
            console.log(re.test(str));
            console.log(re1.test(str));
        }
    </script>
</body>

</html>